{% extends "base.html" %}

{% block content %}
    {% for post in post_list.object_list %}
        <section id="one">
            <header class="major">
                <h2><a href="{% url 'article:detail' post.id %}">{{ post.title }}</a></h2>
            </header>
            <p>{{ post.content }}</p>
            <ul class="actions">
                <li><a href="{% url 'article:detail' post.id %}" class="button">更多内容</a></li>
            </ul>
        </section>
    {% endfor %}
    <!-- 分页器 -->
    <div>
        <ul class="actions">
            {% if post_list.has_previous %}
                <li>
                    <a href="?{{ post_list.previous_page_number.querystring }}" class="prev">上一页</a>
                </li>
            {% endif %}

            {% for page in post_list.pages %}
                {% if page %}
                    {% ifequal page post_list.number %}
                        <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                    {% else %}
                        <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                    {% endifequal %}
                {% else %}
                    <li><a href="">...</a></li>
                {% endif %}
            {% endfor %}
            {% if post_list.has_next %}
                <li><a href="?{{ post_list.next_page_number.querystring }}">下一页</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}